[submodule "libraries/WiFiManager"]
	path = libraries/WiFiManager
	url = git://github.com/tzapu/WiFiManager.git
[submodule "libraries/FastLED"]
	path = libraries/FastLED
	url = git://github.com/FastLED/FastLED
[submodule "libraries/Bounce2"]
	path = libraries/Bounce2
	url = git://github.com/thomasfredericks/Bounce2
[submodule "libraries/Chrono"]
	path = libraries/Chrono
	url = git://github.com/SofaPirate/Chrono
